<p class="fs-2">Listado de Entrenadores</p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">IdEntrenador</th>
      <th scope="col">IdCliente</th>
      <th scope="col">Nombre</th>
      <th scope="col">Sexo</th>
      <th scope="col">Experiencia</th>
      <th scope="col">Telefono</th>
      <th scope="col">Editar | Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <th scope="row">1</th>
      <th>3</th>
      <th>Fernando Rueda</th>
      <td>M</td>
      <td>Aerobicos</td>
      <td>45210214</td>
      <td>
        <button type="button" class="btn btn-warning btn-md">Editar</button>
        <button type="button" class="btn btn-danger btn-md">Eliminar</button>
      </td>
      <tr>
    </tr>
    <th scope="row">2</th>
      <th>8</th>
      <th>Lorena Rodas</th>
      <td>F</td>
      <td>Crossfit</td>
      <td>2598445</td>
      <td>
        <button type="button" class="btn btn-warning">Editar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </td>
   <tr>
  </tr>
  <th scope="row">3</th>
      <th>21</th>
      <th>Rosaldo Tec</th>
      <td>M</td>
      <td>Cardio</td>
      <td>58521452</td>
      <td>
        <button type="button" class="btn btn-warning">Editar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </td>
   <tr>
  </tr>
  <th scope="row">4</th>
      <th>19</th>
      <th>Rosa Rios</th>
      <th>F</th>
      <td>Maquina</td>
      <td>69852321</td>
      <td>
        <button type="button" class="btn btn-warning">Editar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </td>
   <tr>
  </tr>
  </tbody>
</table>



