<div class="card btn ">
  <div class="card-header btn btn-warning">
    <h1>Entrenador</h1>
  </div>
  <div class="card-body">

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>IdEntrenador</th>
        <th>IdCliente</th>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Experiencia</th>
        <th>Telefono</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1</td>
        <td>3</td>
        <td>Fernando Rueda</td>
        <td>M</td>
        <td>Aerobicos</td>
        <td>45210214</td>
        <td>Agregar|Editar|Eliminar</td>
      </tr>
      <tr>

        <td scope="row">2</td>
        <td>8</td>
        <td>Lorena Rodas</td>
        <td>F</td>
        <td>Crossfit</td>
        <td>2598445</td>
        <td>Agregar|Editar|Eliminar</td>

      </tr>
      <tr>
      <td scope="row">3</td>
        <td>21</td>
        <td>Rosaldo Tec</td>
        <td>M</td>
        <td>Cardio</td>
        <td>58521452</td>
        <td>Agregar|Editar|Eliminar</td>
       </tr>

        <tr>
          <td scope="row">4</td>
          <td>19</td>
          <td>Rosa Rios</td>
          <td>F</td>
          <td>Maquina</td>
          <td>69852321</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">5</td>
          <td>20</td>
          <td>Rosa Rios</td>
          <td>F</td>
          <td>Maquina</td>
          <td>69852321</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">6</td>
          <td>8</td>
          <td>Fernando Rueda</td>
          <td>M</td>
          <td>Aerobicos</td>
          <td>45210214</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">7</td>
          <td>10</td>
          <td>Fernando Rueda</td>
          <td>M</td>
          <td>Aerobicos</td>
          <td>45210214</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">8</td>
          <td>12</td>
          <td>Rosa Rios</td>
          <td>F</td>
          <td>Maquina</td>
          <td>69852321</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">9</td>
          <td>13</td>
          <td>Lorena Rodas</td>
          <td>F</td>
          <td>Crossfit</td>
          <td>2598445</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">10</td>
          <td>14</td>
          <td>Lorena Rodas</td>
          <td>F</td>
          <td>Crossfit</td>
          <td>2598445</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">11</td>
          <td>15</td>
          <td>Rosaldo Tec</td>
          <td>M</td>
          <td>Cardio</td>
          <td>58521452</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

    </tbody>
  </table>
</div>



