<div class="card btn ">
  <div class="card-header">
    <h1>Agregar Avance</h1>
  </div>
  <div class="card-body">

    <form>
     <div class="mb-3">
       <label for="" class="form-label">IdAvance</label>
       <input type="number"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="IdCliente">
     </div>
     <div class="mb-3">
      <label for="" class="form-label">IdCliente</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese Nombre:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Nombre</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese Edad:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Sexo</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese Sexo:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Peso_inicial</label>
      <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese PesoInicial:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Peso_meta</label>
      <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese PesoMeta:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Talla_inicial</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese TallaInicial:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Talla_meta</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese TallaMeta:">
    </div>
      <div class="btn-group" role="group" aria-label="">
      <button type ="button" class="btn btn-warning btn-lg" >Agregar</button>
      <button type ="button" class="btn btn-danger btn-lg" >Cancelar</button>
    </div>
    </form>
</div>

