<div class="card btn ">
  <div class="card-header btn btn-warning">
    <h1>Rutina</h1>
  </div>
  <div class="card-body">

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>IdRutina</th>
        <th>IdEntrenador</th>
        <th>IdCliente</th>
        <th>Nombre_rutina</th>
        <th>Dia</th>
        <th>Descripcion</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1</td>
        <td>1</td>
        <td>3</td>
        <td>Aerobicos</td>
        <td>Lunes, miercoles, viernes</td>
        <td>Realizar ejercicios bailables</td>
        <td>Agregar|Editar|Eliminar</td>
      </tr>
      <tr>

        <td scope="row">2</td>
        <td>2</td>
        <td>8</td>
        <td>Crossfit</td>
        <td>Lunes y jueves</td>
        <td>Escalera, llanta, lazos</td>
        <td>Agregar|Editar|Eliminar</td>

      </tr>
      <tr>
      <td scope="row">3</td>
        <td>3</td>
        <td>21</td>
        <td>Cardio</td>
        <td>Lunes a viernes</td>
        <td>Bicicleta y Caminadora</td>
        <td>Agregar|Editar|Eliminar</td>
       </tr>

        <tr>
          <td scope="row">4</td>
          <td>4</td>
          <td>19</td>
          <td>Maquina</td>
          <td>Martes y jueves</td>
          <td>Brazo y Abdomen</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">5</td>
          <td>5</td>
          <td>20</td>
          <td>Maquina</td>
          <td>Lunes, miercoles, viernes</td>
          <td>Pierna, gluteo, pantorilla</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">6</td>
          <td>6</td>
          <td>8</td>
          <td>Aerobicos/td>
          <td>Lunes, miercoles, viernes</td>
          <td>Realizar ejercicios bailables</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">7</td>
          <td>7</td>
          <td>10</td>
          <td>Aerobicos</td>
          <td>Lunes, miercoles, viernes</td>
          <td>Realizar ejercicios bailables</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">8</td>
          <td>8</td>
          <td>12</td>
          <td>Maquina</td>
          <td>Martes y Jueves</td>
          <td>Brazo, espalda y abdomen</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

    </tbody>
  </table>
</div>
