<div class="card btn ">
  <div class="card-header btn btn-warning">
    <h1>Registro</h1>
  </div>
  <div class="card-body">

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>IdProgreso</th>
        <th>IdCliente</th>
        <th>Fecha</th>
        <th>Peso</th>
        <th>Talla</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">3</td>
        <td>3</td>
        <td>2021-11-01</td>
        <td>180</td>
        <td>Medio Alta</td>
        <td>Agregar|Editar|Eliminar</td>
      </tr>
      <tr>

        <td scope="row">4</td>
        <td>8</td>
        <td>2021-11-10</td>
        <td>180</td>
        <td>Medio Alta</td>
        <td>Agregar|Editar|Eliminar</td>

      </tr>
      <tr>
      <td scope="row">5</td>
        <td>10</td>
        <td>2021-11-10</td>
        <td>160</td>
        <td>Medio Baja</td>
        <td>Agregar|Editar|Eliminar</td>
       </tr>

        <tr>
          <td scope="row">6</td>
          <td>12</td>
          <td>2021-11-15</td>
          <td>130</td>
          <td>Media</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">7</td>
          <td>13</td>
          <td>2021-11-20</td>
          <td>175</td>
          <td>Medio Alta</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">8</td>
          <td>14</td>
          <td>2021-11-22</td>
          <td>190</td>
          <td>Medio Alta</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">9</td>
          <td>15</td>
          <td>2021-12-01</td>
          <td>225</td>
          <td>Medio Alta</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">10</td>
          <td>18</td>
          <td>2021-12-03</td>
          <td>125</td>
          <td>Medio Baja</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">11</td>
          <td>19</td>
          <td>2021-12-08</td>
          <td>105</td>
          <td>Medio Baja</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">12</td>
          <td>20</td>
          <td>2021-12-07</td>
          <td>115</td>
          <td>Medio Baja</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">13</td>
          <td>21</td>
          <td>2021-12-10</td>
          <td>190</td>
          <td>Medio Alta</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

    </tbody>
  </table>
</div>



