<div class="card btn ">
  <div class="card-header">
    <h1>Agregar DietaCompletada</h1>
  </div>
  <div class="card-body">

    <form (ngSubmit)="enviarDatos()" >
     <div class="mb-3">
       <label for="" class="form-label">IdDietaCompletada</label>
       <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese IdDietaCompletada:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">IdDieta</label>
      <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese IdDieta:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">IdCliente</label>
      <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese IdCliente:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Informe</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese Informe:">
      </div>
      <div class="btn-group" role="group" aria-label="">
      <button type ="button" class="btn btn-warning btn-lg" >Agregar</button>
      <button type ="button" class="btn btn-danger btn-lg" >Cancelar</button>
    </div>
  </form>

