<div class="card btn ">
  <div class="card-header btn btn-warning">
    <h1>Usuarios</h1>
  </div>
  <div class="card-body">

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>IdUsuario</th>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Password</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1</td>
        <td>Fernando Rueda</td>
        <td>Entrenador</td>
        <td>*************</td>
        <td>Agregar|Editar|Eliminar</td>
      </tr>
      <tr>

        <td scope="row">2</td>
        <td>Lorena Rodas</td>
        <td>Entrenadora</td>
        <td>*****</td>
        <td>Agregar|Editar|Eliminar</td>

      </tr>
      <tr>
      <td scope="row">3</td>
        <td>Rosaldo Tec</td>
        <td>Entrenador</td>
        <td>********</td>
        <td>Agregar|Editar|Eliminar</td>
       </tr>

        <tr>
          <td scope="row">8</td>
          <td>Luis Felipe</td>
          <td>Cliente</td>
          <td>*********</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">19</td>
          <td>Maria Alcantar</td>
          <td>Cliente</td>
          <td>*********</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">22</td>
          <td>Paola Almeda</td>
          <td>Cliente</td>
          <td>************</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>


    </tbody>
  </table>
</div>


