<div class="card btn ">
  <div class="card-header btn btn-warning">
    <h1>Dietas Completadas</h1>
  </div>
  <div class="card-body">

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>IdDietaCompletada</th>
        <th>IdDieta</th>
        <th>IdCliente</th>
        <th>Informe</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1</td>
        <td>1</td>
        <td>3</td>
        <td>Culminado</td>
        <td>Agregar|Editar|Eliminar</td>
      </tr>
      <tr>

        <td scope="row">2</td>
        <td>2</td>
        <td>8</td>
        <td>Culminado</td>
        <td>Agregar|Editar|Eliminar</td>

      </tr>
      <tr>
      <td scope="row">4</td>
        <td>4</td>
        <td>19</td>
        <td>Re-iniciada</td>
        <td>Agregar|Editar|Eliminar</td>
       </tr>

        <tr>
          <td scope="row">5</td>
          <td>5</td>
          <td>20</td>
          <td>Re-iniciada</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">6</td>
          <td>6</td>
          <td>22</td>
          <td>Re-iniciada</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">7</td>
          <td>1</td>
          <td>3</td>
          <td>Culminado</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">8</td>
          <td>2</td>
          <td>8</td>
          <td>Culminado</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>



    </tbody>
  </table>
</div>

