<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">SAYA-GYM<span class="visually-hidden">(current)</span></a>
    </div>
    <a class="navbar-brand" href="#">Cliente</a>
    <a class="navbar-brand" href="#">Avance</a>
    <a class="navbar-brand" href="#">Registo</a>
    <a class="navbar-brand" href="#">Entrenador</a>
    <a class="navbar-brand" href="#">Rutina</a>
    <a class="navbar-brand" href="#">Ejercicio</a>
    <a class="navbar-brand" href="#">Dieta</a>
    <a class="navbar-brand" href="#">Dieta Completada</a>
    <a class="navbar-brand" href="#">Usuario</a>
</nav>
<router-outlet></router-outlet>
