<div class="card btn ">
  <div class="card-header">
    <h1>Agregar Rutina</h1>
  </div>
  <div class="card-body">

    <form [formGroup]="formularioDeRutina" (ngSubmit)="enviarDatos()" >
     <div class="mb-3">
       <label for="" class="form-label">IdRutina</label>
       <input type="number"
         class="form-control" name="" formControlName="IdRutina" id="" aria-describedby="helpId" placeholder="IdRutina">
     </div>
     <div class="mb-3">
      <label for="" class="form-label">IdEntrenador</label>
      <input type="number"
        class="form-control" name="" formControlName="IdEntrenador" id="" aria-describedby="helpId" placeholder="Ingrese IdCliente:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">IdCliente</label>
      <input type="number"
        class="form-control" name="" formControlName="IdCliente" id="" aria-describedby="helpId" placeholder="Ingrese IdCliente:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Nombre_Rutina</label>
      <input type="text"
        class="form-control" name="" formControlName="Nombre" id="" aria-describedby="helpId" placeholder="Ingrese NombrRutina:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Dia</label>
      <input type="text"
        class="form-control" name="" formControlName="Dia" id="" aria-describedby="helpId" placeholder="Ingrese Dia:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Descripcion</label>
      <input type="text"
        class="form-control" name="" formControlName="Descripcion" id="" aria-describedby="helpId" placeholder="Ingrese Descripcion:">
    </div>
     <div class="btn-group" role="group" aria-label="">
      <button type ="submit" class="btn btn-warning btn-lg" >Agregar</button>
      <button type ="button" class="btn btn-danger btn-lg" >Cancelar</button>
    </div>
    </form>
</div>


