<div class="card btn ">
  <div class="card-header">
    <h1>Editar Dieta</h1>
  </div>
  <div class="card-body">

    <form>
     <div class="mb-3">
       <label for="" class="form-label">IdDieta</label>
       <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese IdDieta:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">IdCliente</label>
      <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese IdCliente:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Nombre_Dieta</label>
      <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese NombreDieta:">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Descripcion</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese Descripcion:">
      </div>
      <div class="mb-3">
       <label for="" class="form-label">Inicio</label>
       <input type="date"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese Inicio:">
     </div>
     <div class="mb-3">
      <label for="" class="form-label">Fin</label>
      <input type="date"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese Fin:">
    </div>
  </form>

