<div class="card btn ">
  <div class="card-header btn btn-warning">
    <h1>Dieta</h1>
  </div>
  <div class="card-body">

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>IdDieta</th>
        <th>IdCliente</th>
        <th>Nombre_Dieta</th>
        <th>Descripcion</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1</td>
        <td>3</td>
        <td>Dieta Hipocalorica</td>
        <td>Comer de manera equilibrada y saludable</td>
        <td>2021-01-10</td>
        <td>2021-01-11</td>
        <td>Agregar|Editar|Eliminar</td>
      </tr>
      <tr>

        <td scope="row">2</td>
        <td>8</td>
        <td>Dieta Hipocalorica</td>
        <td>Comer de manera equilibrada y saludable</td>
        <td>2021-01-10</td>
        <td>2021-01-11</td>
        <td>Agregar|Editar|Eliminar</td>

      </tr>
      <tr>
      <td scope="row">3</td>
        <td>15</td>
        <td>Dieta Hipocalorica</td>
        <td>Comer de manera equilibrada y saludable</td>
        <td>2021-01-10</td>
        <td>2021-01-11</td>
        <td>Agregar|Editar|Eliminar</td>
       </tr>

        <tr>
          <td scope="row">7</td>
          <td>19</td>
          <td>Dieta Proteica</td>
          <td>Consuir Proteinas</td>
          <td>2021-10-08</td>
          <td>2021-11-10</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">9</td>
          <td>22</td>
          <td>Dieta Detox</td>
          <td>Desintoxicante</td>
          <td>2021-10-10</td>
          <td>2021-10-14</td>
          <td>Agregar|Editar|Eliminar</td>
        </tr>



    </tbody>
  </table>
</div>



