<div class="card btn ">
  <div class="card-header btn btn-warning">
    <h1>Clientes</h1>
  </div>
  <div class="card-body">

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>IdCliente</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Peso_inicial</th>
        <th>Peso_meta</th>
        <th>Talla_inicial</th>
        <th>Talla_meta</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">8</td>
        <td>Luis Felipe</td>
        <td>25</td>
        <td>M</td>
        <td>200</td>
        <td>160</td>
        <td>Muy Alta</td>
        <td>Normal</td>
        <td>
          <a routerLink="/agregar-cliente/">Agregar</a>
          <a routerLink="/editar-cliente/">|Editar</a>|Eliminar</td>
      </tr>
      <tr>

        <td scope="row">10</td>
        <td>Laura Torres</td>
        <td>28</td>
        <td>F</td>
        <td>175</td>
        <td>140</td>
        <td>Medio Alto</td>
        <td>Normal</td>
        <td>
          <a routerLink="/agregar-cliente/">Agregar</a>
          <a routerLink="/editar-cliente/">|Editar</a>|Eliminar</td>

      </tr>
      <tr>
      <td scope="row">12</td>
        <td>Alvaro Aguayo</td>
        <td>30</td>
        <td>M</td>
        <td>120</td>
        <td>140</td>
        <td>Baja</td>
        <td>Alta</td>
        <td>
          <a routerLink="/agregar-cliente/">Agregar</a>
          <a routerLink="/editar-cliente/">|Editar</a>|Eliminar</td>
       </tr>

        <tr>
          <td scope="row">13</td>
          <td>Sara Navarro</td>
          <td>33</td>
          <td>F</td>
          <td>190</td>
          <td>150</td>
          <td>Alta</td>
          <td>Baja</td>
          <td>
            <a routerLink="/agregar-cliente/">Agregar</a>
            <a routerLink="/editar-cliente/">|Editar</a>|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">14</td>
          <td>Carlos Salinas</td>
          <td>37</td>
          <td>M</td>
          <td>210</td>
          <td>150</td>
          <td>Muy Alta</td>
          <td>Baja</td>
          <td>
            <a routerLink="/agregar-cliente/">Agregar</a>
            <a routerLink="/editar-cliente/">|Editar</a>|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">15</td>
          <td>Jose Setien</td>
          <td>49</td>
          <td>M</td>
          <td>210</td>
          <td>150</td>
          <td>Muy Alta</td>
          <td>Baja</td>
          <td>
            <a routerLink="/agregar-cliente/">Agregar</a>
            <a routerLink="/editar-cliente/">|Editar</a>|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">18</td>
          <td>Josefina Gomez</td>
          <td>29</td>
          <td>F</td>
          <td>115</td>
          <td>140</td>
          <td>Baja</td>
          <td>Normal</td>
          <td>
            <a routerLink="/agregar-cliente/">Agregar</a>
            <a routerLink="/editar-cliente/">|Editar</a>|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">19</td>
          <td>Maria Alcantar</td>
          <td>19</td>
          <td>F</td>
          <td>90</td>
          <td>125</td>
          <td>Baja</td>
          <td>Normal</td>
          <td>
            <a routerLink="/agregar-cliente/">Agregar</a>
            <a routerLink="/editar-cliente/">|Editar</a>|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">20</td>
          <td>Manuel Verduzco</td>
          <td>15</td>
          <td>M</td>
          <td>90</td>
          <td>125</td>
          <td>Baja</td>
          <td>Normal</td>
          <td>
            <a routerLink="/agregar-cliente/">Agregar</a>
            <a routerLink="/editar-cliente/">|Editar</a>|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">21</td>
          <td>Jorge Alcocer</td>
          <td>25</td>
          <td>M</td>
          <td>210</td>
          <td>155</td>
          <td>Media Alta</td>
          <td>Normal</td>
          <td>
            <a routerLink="/agregar-cliente/">Agregar</a>
            <a routerLink="/editar-cliente/">|Editar</a>|Eliminar</td>
        </tr>

        <tr>
          <td scope="row">22</td>
          <td>Paloma Almeda</td>
          <td>35</td>
          <td>F</td>
          <td>190</td>
          <td>155</td>
          <td>Media Alta</td>
          <td>Normal</td>
          <td>
            <a routerLink="/agregar-cliente/">Agregar</a>
            <a routerLink="/editar-cliente/">|Editar</a>|Eliminar</td>
        </tr>

    </tbody>
  </table>
</div>
